# Set to the user ID of the airflow user
AIRFLOW_UID=501
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=admin

# Azure credentials for accessing Key Vault
AZURE_TENANT_ID=tenant_id
AZURE_CLIENT_ID=client_id
AZURE_CLIENT_SECRET=secret

# Key Vault name
AZURE_KEYVAULT_URL=keyvault_url
AIRFLOW__SECRETS__BACKEND_KWARGS={"connections_prefix": "airflow-connections", "variables_prefix": "", "vault_url": "<keyvault_url>"}
